@font-face {
	font-family: Pompadur; /* Гарнитура шрифта */
	src: url(fonts/pompadur.ttf); /* Путь к файлу со шрифтом */
}
*{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
a {
	color: #FFF;
	text-decoration: none
}
body{
	font-family: 'Helvetica Neue', sans-serif;
	background: url('bg.jpg');
}
nav{
	text-align: center;
	margin: 0;
}
h1{
	color: #FFF;
	text-align: center;
}
.container {
	max-width: 940px;
	margin: 0 auto;
}
.menu{
	display: inline-block;
	top: 10px;
	border:  1px solid rgba(255,255,255, 0.3);
}
.menu > li{
	float: left;
	color: #e298e1;
	width: 140px;
	height: 40px;
	line-height: 40px;
	background: rgba(0,0,0, 0.7);
	cursor: pointer;
	font-size: 17px;
	border:  1px solid rgba(255,255,255, 0.01);
}
.sub-menu{
	transform: scale(0);
	transform-origin: top center;
	transition: all 300ms ease-in-out;
	border: 1px solid rgba(255,255,255, 0.2);
}
.sub-menu li{
	font-size: 14px;
	background: rgba(0,0,0, 0.8);
	padding: 8px 0;
	color: #e298e1;
	border: 1px solid rgba(255,255,255, 0.05);
	transform: scale(0);
	transform-origin: top center;
	transition: all 300ms ease-in-out;
}
.sub-menu li:last-child{
	border-bottom: 0;
}
.sub-menu li:hover{
	background: rgba(255,255,255, 0.1);
}
.menu > li:hover .sub-menu li{
	transform: scale(1);
}
.menu > li:hover .sub-menu{
	transform: scale(1);
}
#oggmp3 {
	width: 450px;
	height: 758px;
	position: absolute;
	top: 10px;
	left: 10px;
	border: 4px solid #000;
}

#bar {
    top:0px; left: -3.9em; /* Положение */
    padding: .8em; /* Поля */
    margin: 0; /* Отступы */
    position: absolute; /* Абсолютное позиционирование */
    width: 3em; /* Ширина */
    background: rgba(255,255,255, 0.7); /* Цвет фона */
    color: #000; /* Цвет текста */
    text-align: center; /* Выравнивание по центру */
    /* Переход */
    transition: left 1s ease-out 0.1s;
    transition: left 1s ease-out 0.1s;
    transition: left 1s ease-out 0.1s;
    transition: left 1s ease-out 0.1s;
}
#bar:hover {
    border: 1px solid rgba(255,0,0, 1.0);
    background: rgba(0, 0, 0, 0);
    left: 0; 
}
.sub-num li:hover{
	background: #000;
	cursor: pointer;
	color: #FFF;
}
.ans {
	background: #FFF;
}
nav {
	font-family: Pompadur, 'Comic Sans MS', cursive;
}